{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
  <div class='card'>
    <div class='card-body'>

      <div class='card'>
        <div class='card-body'>
          {{#with heading.main}}
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            <button
              class='btn btn-primary'
            >{{button_text.solid}}</button>
            <br />
            <br />
            <button
              class='btn btn-outline-primary'
            >{{button_text.outline}}</button>
          {{/with}}
        </div>
      </div>

      <br />

      <div class='card'>
        <div class='card-body'>
          {{#with heading.second}}
            <h2>{{title}}</h2>
            <p>{{text}}</p>
            <button
              class='btn btn-secondary'
            >{{button_text.solid}}</button>
            <br />
            <br />
            <button
              class='btn btn-outline-secondary'
            >{{button_text.outline}}</button>
          {{/with}}
        </div>
      </div>

      <br />

      <div class='card'>
        <div class='card-body'>
          {{#with heading.subblock}}
            <h3>{{title}}</h3>
            <p>{{text}}</p>
            <button
              class='btn btn-dark'
            >{{button_text.solid}}</button>
            <br />
            <br />
            <button
              class='btn btn-outline-dark'
            >{{button_text.outline}}</button>
          {{/with}}
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      {{#with nested_display}}
        <span class='display-1'>{{title}}</span>

        <div class='card'>
          <div class='card-body'>
            <span
              class='display-4'
            >{{children_display.title}}</span>
            <p>{{children_display.text}}</p>
            <button
              class='btn btn-outline-warning'
            >{{children_display.button.text}}</button>
          </div>
        </div>

        <br />

        <h6>{{header_text}}</h6>
        <button
          class='btn btn-info'
        >{{button.text}}</button>
      {{/with}}
    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      {{#with paragraph}}
        <p class='text-uppercase'>{{title}}</p>
        <p class='text-lowercase'>{{text}}</p>
        <a
          href='{{button.url}}'
          class='btn btn-link'
        >{{button.text}}</a>
        <br />
        <br />
        <div class='card'>
          <div class='card-body'>

            <ul>
              {{#each list_name}}
                <li>
                  <a
                    href='{{url}}'
                    class='btn btn-link'
                  >{{text}}</a>

                </li>
              {{/each}}
            </ul>

          </div>
        </div>
      {{/with}}
    </div>
  </div>

</main>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}